body {
    background-color: #1e90ff;
    font-family: "Roboto", Arial, sans-serif;
    color: black;
}

button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #f0f0f0;
}

button:active {
    background-color: #d3d3d3;
}