<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Симулятор ATM</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
<!-- Полоса для назви (хедер) -->
<header>
    <h1>Симулятор ATM</h1>
    <hr>
</header>

<br>
<main>
    <div class="button-container">
        <div class="button-row">
            <button class="button">Insert card</button>
        </div>
        <div class="button-row">
            <button class="button">Transfer to me</button>
        </div>
        <div class="button-row">
            <button class="button">Balance</button>
        </div>
    </div>
    <div class="button-container">
        <div class="button-row">
            <button class="button">Withdraw money</button>
        </div>
        <div class="button-row">
            <button class="button">Transfer to friend</button>
        </div>
        <div class="button-row">
            <button class="button">Admin</button>
        </div>
    </div>
</main>

<!--    <div class="button-row">-->
<!--        &lt;!&ndash; Код таблиці та результату AJAX запиту до REST контроллера тут &ndash;&gt;-->
<!--        <h1>Список користувачів</h1>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>ID</th>-->
<!--                <th>Ім'я</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--&lt;!&ndash;            <tbody id="usersTableBody">&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; Рядки з даними будуть додаватись сюди &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </tbody>&ndash;&gt;-->
<!--        </table>-->
<!--    </div>-->
<br>

<!-- Футер -->
<footer>
    <p>© 2023 vspelykh. All rights reserved.</p>
</footer>
</body>

</html>