<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose strategy to withdraw</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>
<h1>Choose strategy to withdraw</h1>

<div id="strategiesContainer">
    <!-- Тут будуть відображені кнопки стратегій -->
</div>

<script th:inline="javascript">
    /* Отримуємо дані з моделі, використовуючи Thymeleaf-синтаксис */
    var amount = /*[[${amount}]]*/ null;
</script>
</body>
</html>
